@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

.home-container{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#f4f6fb;

  padding:30px;
}

.home-card{
  width:100%;
  max-width:900px;

  background:white;

  border-radius:24px;

  padding:50px;

  text-align:center;

  box-shadow:
    0 8px 30px rgba(0,0,0,.05);
}

.home-logo{
  width:90px;
  height:90px;

  object-fit:contain;

  margin-bottom:20px;
}

.home-title{
  font-size:36px;
  font-weight:700;

  color:#111827;
}

.home-subtitle{
  color:#64748b;

  margin-top:8px;
}

.section-title{
  margin-top:40px;
  margin-bottom:25px;

  color:#111827;
}

.menu-grid{
  display:grid;

  grid-template-columns:
    repeat(2,1fr);

  gap:20px;
}

.menu-card{
  border:none;

  background:white;

  border:1px solid #e5e7eb;

  border-radius:18px;

  padding:30px;

  cursor:pointer;

  display:flex;
  flex-direction:column;

  align-items:center;

  gap:12px;

  font-size:18px;
  font-weight:600;

  transition:.2s;
}

.menu-card:hover{
  transform:translateY(-4px);

  border-color:#4f46e5;

  box-shadow:
    0 10px 25px
    rgba(79,70,229,.12);
}

.menu-icon{
  font-size:40px;
}

.credit{
  margin-top: 45px;
  text-align: center;
  font-size: 13px;
  color: #6b7280;
  line-height: 1.7;
}

.credit a{
  color: #5b5ce2;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.credit a:hover{
  opacity: 0.8;
}